<%- include('./header.ejs') %>
<div class = "rotSquare" id= "disp"></div>
<h1 font-family:verdana font-size: 50px>Squaring app</h1>
<form action ="show" method="POST">
    <input type= "number" name="val" placeholder ="Enter the number:-">
    <button type="submit"> SUBMIT</button>
</form>
</div>
<%- include('./footer.ejs') %>